@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.bg1 {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #7c68d73b,
      transparent 900px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #bdaef490,
      transparent 1000px
    );
}
.bg11 {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #d7a3683b,
      transparent 900px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #f4aeca73,
      transparent 1000px
    );
}
.bg2 {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #be387b57,
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #8e2e5bc7,
      transparent 800px
    ),
    radial-gradient(farthest-side at top left, #9c1654e2, transparent 900px),
    radial-gradient(farthest-corner at top right, #c0873273, transparent 900px);
}
.bg3 {
  background-image: radial-gradient(
      farthest-side at top left,
      #63255a57,
      transparent 400px
    ),
    radial-gradient(farthest-corner at top right, #4820519b, transparent 800px);
  background: linear-gradient(180deg, #fff6fe, rgba(218, 218, 218, 0));
}
.bg4 {
  background-image: radial-gradient(
      farthest-side at bottom center,
      #63253957,
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at center center,
      #27091b9b,
      transparent 400px
    );
}

.bg5 {
  background-image: radial-gradient(
      farthest-side at top left,
      #b5036b22,
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at top left,
      #e6975b2d,
      transparent 800px
    ),
    radial-gradient(
      farthest-corner at top right,
      #e65ba330,
      transparent 800px
    );
}
.card {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #41256357,
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #4820519b,
      transparent 00px
    ),
    radial-gradient(farthest-side at top left, #27235aa9, transparent 100px),
    radial-gradient(farthest-corner at top right, #1d184dac, transparent 100px);
  transition: background-image 3s ease-in-out;

  clip-path: polygon(12% 0%, 100% 0, 100% 85%, 85% 100%, 1% 100%, 0% 15%);
  border: 1px solid #afbfe477;
}

.card:hover {
  transition-delay: 5s; /* Add a delay of 0.5 seconds before the transition starts */
  background-image: radial-gradient(
      farthest-side at bottom left,
      #1c116457,
      transparent 600px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #4820519b,
      transparent 100px
    ),
    radial-gradient(farthest-side at top left, #27235aa9, transparent 100px),
    radial-gradient(farthest-corner at top right, #1d184dac, transparent 100px);
}

.card1 {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #41256357,
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #4820519b,
      transparent 00px
    ),
    radial-gradient(farthest-side at top left, #27235aa9, transparent 100px),
    radial-gradient(farthest-corner at top right, #1d184dac, transparent 100px);
  transition: background-image 3s ease-in-out;

  border: 1px solid #afbfe477;
}

.card1:hover {
  transition-delay: 5s; /* Add a delay of 0.5 seconds before the transition starts */
  background-image: radial-gradient(
      farthest-side at bottom left,
      #1c116457,
      transparent 600px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #4820519b,
      transparent 100px
    ),
    radial-gradient(farthest-side at top left, #27235aa9, transparent 100px),
    radial-gradient(farthest-corner at top right, #1d184dac, transparent 100px);
}
.fonts {
  font-size: clamp(2.1rem, 7vw, 3.7rem);
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.03rem;
}
.landing__img{
  width: 40rem;
}
.colo {
  stop-color: var(--color-cyan-500);
}
.colo1 {
  stop-color: var(--color-purple-500);
}
.button {
  background: linear-gradient(180deg, #120c20, rgba(36, 24, 98, 0));
  border: 1px solid #afbfe477;
  transition: background 0.2s ease-in-out;
}

.meclogo__mob {
  padding-top: auto;
  padding-bottom: 2rem;
  width: 160px;
  flex-shrink: 0;
  pointer-events: none;
}

.nav_item_mob:hover {
  text-decoration: none;
  color: #c2f4ff;
}
.nav__drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 330px;
  padding: 1.5rem;
}

.nav__drawer_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar_items_mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding-top: 3rem;
  z-index: 9;
}

.nav_item_mob {
  cursor: pointer;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 21px;
  font-weight: 400;
}
.title_mob {
  font-weight: 700;
  font-size: 25px;
  color: #9e0000;
  cursor: pointer;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #e20c5d, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 882px) {
  .nav__drawer {
    width: 300px;
  }
.bg2 {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #be387b57,
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #8e2e5bc7,
      transparent 800px
    ),
    radial-gradient(farthest-side at top left, #9c1654e2, transparent 900px),
    radial-gradient(farthest-corner at top right, #c0873273, transparent 900px);
}
.bg11 {
  background-image: radial-gradient(
      farthest-side at bottom left,
      #d7a3683b,
      transparent 300px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #f4aeca73,
      transparent 300px
    );
}
}

@media screen and (max-width: 600px) {
  .meclogo__mob {
    padding-bottom: 3.25rem;
  }
}

@media screen and (max-width: 400px) {
  .meclogo__mob {
    padding-bottom: 2.25rem;
  }
}

/*Dialog Problem Statement CSS*/

.problemStmtCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 250px;
  height: 300px;
  /* background: linear-gradient(90deg, #094C83, #B1D89F), #EFFFEC; */
  background: linear-gradient(180deg, rgba(9, 76, 131, 0.75) 0%, #21b8cb 100%),
    #efffec;
  /* filter: blur(2.5px); */
  box-shadow: 0.8px 0.8px 4px 0.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  gap: 1rem;
}

.psDialog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 5rem;
  font-family: var(--secondary-font);
  position: relative;
}
.collaborator__img{
  width: 15rem;
}
.sponsor__name{
  font-size: 1.2rem;
  color: #ffff;
  text-align: center;
}
.psDialog__close {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 9;
}

.dialog_vector1 {
  position: absolute;
  top: 0;
  width: 100%;
}
.dialog_vector2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.psDialog__header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.psDialog__header h2 {
  background: linear-gradient(90deg, #e10c5d 0%, #f9681c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 600;
}

.psDialog__content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.psDialog__content h4 {
  font-size: 1.15rem;
  color: #c25013 ;
  font-weight: 500;
}
.psDialog__content p {
  font-size: 1rem;
  color: #1e1e1e;
}

.psDialog__content ul li {
  font-size: 1rem;
  color: #1e1e1e;
}

@media (min-device-width: 20px) and (max-device-width: 500px) {
  .psDialog__header h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .psDialog__close {
    font-size: 1.5rem;
    top: 0.8rem;
    right: 0.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .psDialog__header h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 300px) {
  .problemStmtCard {
    width: 209px;
  }
  .psDialog__header h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .psDialog__header h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .psDialog__header h2 {
    font-size: 1.25rem;
  }
}
